#DetailLayers {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 16px;
  min-width: 28vw;
  opacity: 1;
  transition: opacity 200ms ease-out, margin-left 100ms ease-in-out;

  &.hidden {
    opacity: 0;
  }

  .noise-map {
    display: flex;
    flex-direction: row;

    .noise-map-details {
      display: flex;
      flex-direction: column;
      margin-left: 8px;

      .focused-value {
        font-weight: 300;
        font-size: 0.8em;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  .map-title,
  .current-biome {
    font-size: 1.2em;
  }

  .current-biome {
    position: absolute;
    min-height: 1.5em;
    bottom: -0.25em;
    left: -475px;
  }
}

@media only screen and (max-width: 1100px) {
  #DetailLayers {
    flex-direction: row;
    margin-left: 8vw;
    column-gap: 30px;
    width: 75%;

    .noise-map {
      flex-direction: column;
      flex: 1;

      .noise-map-details {
        margin-left: 0;
        align-items: flex-start;

        .focused-value {
          font-size: 1.75vw;
          min-height: 1.5em;
        }
      }
    }

    .map-title {
      font-size: 2.5vw;
    }

    .current-biome {
      position: absolute;
      top: -2em;
      left: auto;
    }
  }

  .settings-visible #DetailLayers {
    margin-left: 0;
  }
}
