#DetailLayers {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 16px;
  min-width: 28vw;
  opacity: 1;
  transition: opacity 200ms ease-out;

  &.hidden {
    opacity: 0;
  }

  .noise-map {
    display: flex;
    flex-direction: row;

    .noise-map-details {
      display: flex;
      flex-direction: column;
      margin-left: 8px;


      .focused-value {
        font-weight: 300;
        font-size: .8em;
      }
    }
  }

  .map-title, .current-biome {
    font-size: 1.2em;
  }

  .current-biome {
    min-height: 1.5em;
  }
}