.value-editor {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0;
  margin-right: 8px;
}

.value-editor .value-label {
  margin-bottom: 4px;
  font-size: 18px;
}

.value-editor input {
  border: none;
  outline: none;
  font-size: 20px;
  border-radius: 4px;
  padding: 4px 8px;
}

.value-editor input:focus-visible {
  outline: 2px solid rgb(70, 129, 240);
}
