.settings-editor {
  max-width: 30vw;
  display: flex;
  /* position: absolute; */
  flex-direction: column;
  right: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid aliceblue;
  background-color: #323641;
  box-shadow: 2px 2px 5px #222222;

  transition: right 300ms;
}

.settings-editor .settings-title {
  margin: 0;
  margin-bottom: 16px;
}

.settings-editor .settings-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 8px;
}

.settings-editor > div:not(div:last-child) {
  padding: 12px 0;
  border-bottom: 1px solid #e6e6fa50;
}

.settings-editor .plane-drawer-edit-section {
  padding-bottom: 6px !important;
}

.settings-editor .value-editor:not(.value-editor:last-child),
.buttons > input:not(input:last-child) {
  margin-right: 8px;
}

.settings-editor .buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 12px;
}
