.settings-editor {
  display: flex;
  flex-direction: column;
  color: aliceblue;
  background-color: #323641;
  height: 100%;
  width: var(--settings-drawer-width);
  padding: 0 10px 10px;

  & > div:not(div:last-child, :first-child, .spacer) {
    padding: 12px 0;
    border-bottom: 1px solid #e6e6fa50;
  }

  .settings-title {
    font-size: 2.5em;
  }

  .title-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: var(--header-top-padding);

    .close-button {
      position: absolute;
      left: 0;
      color: white;
    }
  }

  .settings-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 8px;
  }

  .plane-drawer-edit-section {
    padding-bottom: 6px !important;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 12px;

    .spacer {
      flex: 1;
    }
  }
}

.settings-editor .value-editor:not(.value-editor:last-child),
.buttons > input:not(input:last-child) {
  margin-right: 8px;
}
