.settings-editor {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  background-color: #323641;
  height: 100%;
  width: var(--settings-drawer-width);
  padding: 0 10px 10px;

  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }

  & > div:not(div:last-child, :first-child, .spacer) {
    padding: 12px 0;
    border-bottom: 1px solid #e6e6fa50;
  }

  .settings-title {
    font-size: 2.5em;
  }

  .title-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: var(--header-top-padding);

    .close-button {
      position: absolute;
      left: 0;
      color: var(--text-color);
      transition: background-color 200ms ease-in-out;

      &.scrolled {
        background-color: #59647e99;
      }
    }
  }

  .settings-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 8px;
  }

  .plane-drawer-edit-section {
    padding-bottom: 6px !important;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 12px;

    .spacer {
      flex: 1;
    }
  }
}

.settings-editor .value-editor:not(.value-editor:last-child),
.buttons > button:not(button:last-child) {
  margin-right: 8px;
}

.buttons > button {
  cursor: pointer;
  border: 1px solid #363636;
  border-radius: 5px;
  background-color: #59637e;
  font-size: 1.125em;
  padding: 5px 10px;
  color: var(--text-color);

  box-shadow: inset 0 0 14px 0 #484848, 0 0 24px -13px #000000;

  &:hover {
    background-color: #6c7692;
  }
}
