#App {
  background-color: #282c34;

  .title-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: var(--header-top-padding);

    .settings-button {
      color: white;
      position: absolute;
      left: 40px;
    }

    .app-title {
      color: white;
      text-align: center;
      font-size: 3em;
      font-weight: bold;
    }
  }

}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-left: 0;

  transition: margin-left 300ms ease-in-out;

  &.settings-visible {
    margin-left: var(--settings-drawer-width)
  }
}

#ProceduralTerrainGenerator {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: aliceblue;
}

#camera-controller {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.canvas-renderer {
  border: 2px solid aliceblue;

  * {
    border-radius: 5px;

    transition: 200ms;
    transition-timing-function: ease-in-out;
  }
}

.tooltip-popup {
  max-width: 250px;
  text-align: center;
  z-index: 9999 !important;
}

.spacer {
  flex: 1;

  &.double {
    flex: 2;
  }
}